@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
	background-color: red;
}

.ninlogo {
	width: 60%;
	display: block;
	margin: 0 auto;
	box-shadow: 10px 0px;
	border-radius: 15px;
}
.h1title {
	padding: 5px 1px;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	border: 5px solid #000000;
	background-color: red;
	color: white;
	font-family: 'Press Start 2P', cursive;
	font-size: 1.5em;
	border-radius: 15px;
}
img {
  border: 5px solid #000000;
}
li{
	margin: 0 2em;
	display: inline;
}
li a{
	text-decoration: none;
	color: white;
	width: 60%;
	border: 2px solid #000000;
	padding: .5em 1em;
	border-radius: 15px;
	
}
li a:hover{
	text-decoration: none;
	color: black;
	width: 60%;
	border: 2px solid #000000;
	padding: .5em .5em;
	background-color: white;
}
.nav{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: .79em;
}
.whoarewe {
	padding: 5px 1px;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	color: white;
	border: 5px solid #000000;
	border-radius: 15px;
}
.weare {
	font-size: 25px;
	text-align: center;
	color: white;
	border: 2px solid #000000;
	margin: 5px;
	border-radius: 15px;
	padding: 1%;
}
.weare2{
	font-size: 25px;
	text-align: center;
	color: white;
	border: 2px solid #000000;
	margin: 5px;
	border-radius: 15px;
	padding: 1%;
	
}